.edit-profile-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form-two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

@media (max-width: 500px) {
  .form-two-cols {
    grid-template-columns: 1fr;
  }
}
